body {
	padding-top: 40px;
/*	background-color: #eee;*/
/*	background-image: url('../images/100_1959e.JPG');*/
/*    background-repeat: no-repeat;*/
/*    background-position: 50% 50%; */
/*    background-size: auto auto;*/
    overflow-x: hidden;
}

.item-remove {
    color: blue;
    cursor:pointer;
    float: right;
}

.todoEntry {
	word-wrap:break-word;
}

.jumbotron {
	background: rgba(255,255,255,0.50);
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin: 50px 50px 50px 50px;
}

/* LOGIN STUFF */
.popup {
	visibility: hidden;
	position: absolute;
	left: 50%;
	z-index: 101;
}

#loginPopup {
	background-color: rgba(238,238,238,0.0);
	text-align: center;
	position: relative;
	left: -50%;
	top: -50;
}

.overlay {
	margin-top: -40px;
	z-index: 100;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
}

iframe {
	border: 0;
	max-width: 300px;
	height: 300px;
/*	padding: 15px;*/
	margin: 0 auto;
	z-index:0;
	-moz-box-shadow: 4px 4px 14px #888888; 
	-webkit-box-shadow: 4px 4px 14px #888888; 
	box-shadow: 4px 4px 14px #888888; 
}

/* we don't want the container padding (15px) !*/
.container {
	padding-right: 0px;
	padding-left: 0px;
}

.iframe-container {
	margin: 0 auto;
	max-width: 300px;
	position: relative;
/*	overflow: hidden;*/
}

.iframe-container iframe {
	-moz-border-radius: 20px;
  	-webkit-border-radius: 20px;
  	-khtml-border-radius: 20px;
  	border-radius: 20px;
}

.well {
	margin-left: auto;
	margin-right: auto;
    	width: 90%;
	text-align: justify;
}

.main-div {
	min-height:100%;
}
